openapi: 3.1.0
info:
  title: Tallyo Backend API
  version: 1.2.0
  description: Contract for Tallyo UI <-> Spring backend integration.
servers:
  - url: https://api.tallyo.us
  - url: http://localhost:8080
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    ApiError:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: string
        path:
          type: string
        timestamp:
          type: string
          format: date-time
    TeamKey:
      type: object
      required: [teamId, league]
      properties:
        teamId:
          type: integer
        league:
          type: string
    Team:
      type: object
      required: [teamKey, id, name, abbreviation, logo, location]
      properties:
        teamKey:
          $ref: '#/components/schemas/TeamKey'
        id:
          type: string
        name:
          type: string
        abbreviation:
          type: string
        logo:
          type: string
        primaryColor:
          type: string
        alternateColor:
          type: string
        location:
          type: string
        record:
          type: string
        score:
          type: string
        seed:
          type: string
        ranking:
          type: string
        wins:
          type: string
        losses:
          type: string
        ties:
          type: string
        conference:
          type: string
        division:
          type: string
        homeRecord:
          type: string
        roadRecord:
          type: string
        recordVsConference:
          type: string
        recordVsDivision:
          type: string
        pointsFor:
          type: string
        pointsAgainst:
          type: string
        pointDifferential:
          type: string
        streak:
          type: string
        winPercent:
          type: string
    TeamStats:
      type: object
      properties:
        homeStats:
          type: object
          additionalProperties:
            type: string
        awayStats:
          type: object
          additionalProperties:
            type: string
    GameOdd:
      type: object
      properties:
        spreadText:
          type: string
    Game:
      type: object
      required: [id, league, homeTeam, awayTeam, isoDate, date]
      properties:
        id:
          type: string
        league:
          type: string
          enum: [nfl, cfb, nhl, mls, world_cup, mlb]
        homeTeam:
          $ref: '#/components/schemas/Team'
        awayTeam:
          $ref: '#/components/schemas/Team'
        stadiumName:
          type: string
        location:
          type: string
        isoDate:
          type: string
          format: date-time
        date:
          type: string
          format: date-time
        homeScore:
          type: string
        awayScore:
          type: string
        period:
          type: string
        shortPeriod:
          type: string
        channel:
          type: string
        espnLink:
          type: string
        lastPlay:
          type: string
        currentDownAndDistance:
          type: string
        down:
          type: string
        ballLocation:
          type: string
        possessionTeamId:
          type: string
        homeTimeouts:
          type: integer
        awayTimeouts:
          type: integer
        winner:
          type: string
        headline:
          type: string
        gameOdd:
          $ref: '#/components/schemas/GameOdd'
        gameStatus:
          type: string
        stats:
          $ref: '#/components/schemas/TeamStats'
        homeWinPercentage:
          type: string
        awayWinPercentage:
          type: string
        finalGame:
          type: boolean
        final:
          type: boolean
        homeRecordAtTimeOfGame:
          type: string
        awayRecordAtTimeOfGame:
          type: string
    CurrentContext:
      type: object
      required: [year, seasonType, date, week]
      properties:
        year:
          type: integer
        seasonType:
          type: integer
        date:
          type: string
          format: date
        week:
          type: integer
    LeagueMetadata:
      type: object
      required: [id, label, path, supportsStandings, contextMode, supportsYearFilter, supportsWeekFilter, statsProfile, teamOrder, supportsOdds, supportsLiveDetails, showInHeader, showInDashboard]
      properties:
        id:
          type: string
        label:
          type: string
        path:
          type: string
        supportsStandings:
          type: boolean
        contextMode:
          type: string
          enum: [season, date]
        supportsYearFilter:
          type: boolean
        supportsWeekFilter:
          type: boolean
        statsProfile:
          type: string
          enum: [football, hockey, soccer, baseball]
        teamOrder:
          type: string
          enum: [away-left, home-left]
        supportsOdds:
          type: boolean
        supportsLiveDetails:
          type: boolean
        showInHeader:
          type: boolean
        showInDashboard:
          type: boolean
    StandingsTeam:
      type: object
      required: [id, name, abbreviation, logo, location, stats]
      properties:
        id:
          type: string
        name:
          type: string
        abbreviation:
          type: string
        logo:
          type: string
        location:
          type: string
        seed:
          type: string
        conference:
          type: string
        division:
          type: string
        record:
          type: string
        differential:
          type: string
        stats:
          type: object
          additionalProperties:
            type: string
    StandingsGroup:
      type: object
      required: [groupName, teams]
      properties:
        groupName:
          type: string
        teams:
          type: array
          items:
            $ref: '#/components/schemas/StandingsTeam'
    StatLeader:
      type: object
      required: [name]
      properties:
        name:
          type: string
        displayName:
          type: string
        value:
          type: number
        displayValue:
          type: string
        playerName:
          type: string
        playerShortName:
          type: string
        teamId:
          type: integer
    ScoringPlay:
      type: object
      required: [id]
      properties:
        id:
          type: string
        teamId:
          type: string
        teamName:
          type: string
        displayText:
          type: string
        homeScore:
          type: integer
        awayScore:
          type: integer
        scoringType:
          type: string
        period:
          type: integer
        clock:
          type: string
    GameDetails:
      type: object
      required: [gameId, leaders, scoringPlays]
      properties:
        gameId:
          type: string
        leaders:
          type: array
          items:
            $ref: '#/components/schemas/StatLeader'
        scoringPlays:
          type: array
          items:
            $ref: '#/components/schemas/ScoringPlay'
    UpdateResponse:
      type: object
      required: [gameCount, durationMs]
      properties:
        gameCount:
          type: integer
        durationMs:
          type: integer
    GamesPage:
      type: object
      required: [content, page, size, totalElements, totalPages, first, last]
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Game'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer
        first:
          type: boolean
        last:
          type: boolean
security:
  - ApiKeyAuth: []
paths:
  /api/v1/leagues:
    get:
      responses:
        '200':
          description: Supported leagues and capabilities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LeagueMetadata'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/games:
    get:
      parameters:
        - in: query
          name: league
          required: true
          schema:
            type: string
            enum: [nfl, cfb, nhl, mls, world_cup, mlb]
        - in: query
          name: year
          schema:
            type: integer
        - in: query
          name: seasonType
          schema:
            type: integer
        - in: query
          name: week
          schema:
            type: integer
        - in: query
          name: date
          schema:
            type: string
            format: date
        - in: query
          name: userTimeZone
          schema:
            type: string
        - in: query
          name: size
          schema:
            type: integer
            default: 100
        - in: query
          name: page
          schema:
            type: integer
            default: 0
        - in: query
          name: sortBy
          schema:
            type: string
            default: id
      responses:
        '200':
          description: Paged list of games
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GamesPage'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      description: Admin backfill - re-ingest games (and optionally stats/details) from ESPN for a league/year.
      parameters:
        - in: query
          name: league
          required: true
          schema:
            type: string
            enum: [nfl, cfb, nhl, mls, world_cup, mlb]
        - in: query
          name: year
          schema:
            type: integer
            default: 0
        - in: query
          name: shouldFetchStats
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Update summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/games/{gameId}/details:
    get:
      parameters:
        - in: path
          name: gameId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Stat leaders and scoring plays for a game
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Game not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/standings:
    get:
      parameters:
        - in: query
          name: league
          required: true
          schema:
            type: string
            enum: [nfl, cfb, nhl, mls, world_cup, mlb]
      responses:
        '200':
          description: Standings groups for the league
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StandingsGroup'
        '400':
          description: Bad request (unknown league or standings unsupported)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '502':
          description: Upstream provider failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/games/current:
    get:
      parameters:
        - in: query
          name: league
          required: true
          schema:
            type: string
            enum: [nfl, cfb, nhl, mls, world_cup, mlb]
        - in: query
          name: userTimeZone
          schema:
            type: string
        - in: query
          name: year
          schema:
            type: integer
        - in: query
          name: seasonType
          schema:
            type: integer
        - in: query
          name: week
          schema:
            type: integer
        - in: query
          name: size
          schema:
            type: integer
            default: 100
        - in: query
          name: page
          schema:
            type: integer
            default: 0
        - in: query
          name: sortBy
          schema:
            type: string
            default: id
      responses:
        '200':
          description: Current games context list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GamesPage'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/games/context:
    get:
      parameters:
        - in: query
          name: league
          required: true
          schema:
            type: string
            enum: [nfl, cfb, nhl, mls, world_cup, mlb]
        - in: query
          name: userTimeZone
          schema:
            type: string
      responses:
        '200':
          description: Context for current season/date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentContext'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/games/nhl-dates:
    get:
      deprecated: true
      description: Legacy NHL-only variant of /api/v1/games/dates.
      parameters:
        - in: query
          name: userTimeZone
          schema:
            type: string
      responses:
        '200':
          description: Available NHL game dates
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: date
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/games/dates:
    get:
      parameters:
        - in: query
          name: league
          required: true
          schema:
            type: string
            enum: [nfl, cfb, nhl, mls, world_cup, mlb]
        - in: query
          name: userTimeZone
          schema:
            type: string
      responses:
        '200':
          description: Available game dates for league
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: date
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
